<a href='#' class='trigger-search'>
  <span class='sr-only'>Search</span>
  <!-- Heroicon name: outline/search -->
  <svg
    xmlns='http://www.w3.org/2000/svg'
    width='24'
    height='24'
    viewBox='0 0 24 24'
    fill='none'
  >
    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5003 1.96903C9.14485 1.96914 7.80912 2.28837 6.60451 2.90008C5.3999 3.51179 4.36135 4.39824 3.57549 5.48548C2.78963 6.57272 2.27926 7.82921 2.08696 9.15013C1.89466 10.4711 2.026 11.8181 2.47003 13.0789C2.91406 14.3397 3.6579 15.4776 4.63949 16.3978C5.62108 17.318 6.81196 17.9938 8.11277 18.3687C9.41358 18.7436 10.7866 18.8069 12.1173 18.5531C13.448 18.2994 14.6977 17.736 15.7623 16.91L19.4143 20.5055C19.6029 20.6848 19.8555 20.7841 20.1177 20.7818C20.3799 20.7796 20.6307 20.676 20.8161 20.4935C21.0015 20.311 21.1066 20.064 21.1089 19.8059C21.1112 19.5478 21.0104 19.2991 20.8283 19.1134L17.1763 15.5179C18.1642 14.284 18.7794 12.8011 18.9514 11.239C19.1233 9.67686 18.8451 8.09865 18.1485 6.68495C17.4519 5.27126 16.3651 4.0792 15.0126 3.24519C13.66 2.41118 12.0962 1.96893 10.5003 1.96903ZM4.00025 10.3374C4.00025 8.6402 4.68507 7.0125 5.90406 5.81239C7.12305 4.61228 8.77635 3.93806 10.5003 3.93806C12.2242 3.93806 13.8775 4.61228 15.0964 5.81239C16.3154 7.0125 17.0003 8.6402 17.0003 10.3374C17.0003 12.0346 16.3154 13.6623 15.0964 14.8624C13.8775 16.0626 12.2242 16.7368 10.5003 16.7368C8.77635 16.7368 7.12305 16.0626 5.90406 14.8624C4.68507 13.6623 4.00025 12.0346 4.00025 10.3374Z" fill="black"/>
  </svg>
</a>
