<a
  href='javascript:void(0)'
  class='group flex items-center justify-center trigger-cart-open'
  id='cart-icon-bubble'
>
  <!-- Heroicon name: outline/shopping-cart -->
  <svg
    xmlns='http://www.w3.org/2000/svg'
    width='24'
    height='24'
    viewBox='0 0 24 24'
    fill='none'
    class="h-6 w-6"
  >
    <path d="M11.9999 1.96903C13.0607 1.96903 14.0782 2.38393 14.8283 3.12246C15.5785 3.86099 15.9999 4.86266 15.9999 5.90709H18.0349C18.5531 5.90703 19.0511 6.10497 19.4239 6.45922C19.7968 6.81348 20.0155 7.29639 20.0339 7.80623L20.4619 19.6204C20.4714 19.8847 20.4268 20.1481 20.3307 20.395C20.2346 20.6418 20.089 20.8672 19.9025 21.0574C19.716 21.2477 19.4926 21.3991 19.2454 21.5025C18.9982 21.6059 18.7324 21.6593 18.4639 21.6593H5.53588C5.26732 21.6593 5.00154 21.6059 4.75437 21.5025C4.50721 21.3991 4.28373 21.2477 4.09727 21.0574C3.91081 20.8672 3.76518 20.6418 3.66907 20.395C3.57296 20.1481 3.52835 19.8847 3.53788 19.6204L3.96588 7.80623C3.98428 7.29639 4.20295 6.81348 4.57583 6.45922C4.94871 6.10497 5.4467 5.90703 5.96488 5.90709H7.99988C7.99988 4.86266 8.42131 3.86099 9.17145 3.12246C9.9216 2.38393 10.939 1.96903 11.9999 1.96903ZM7.99988 7.87613H5.96488L5.53588 19.6903H18.4639L18.0349 7.87613H15.9999V8.86064C15.9996 9.11158 15.902 9.35293 15.727 9.5354C15.5521 9.71786 15.3129 9.82767 15.0585 9.84237C14.804 9.85708 14.5535 9.77558 14.358 9.61452C14.1626 9.45346 14.037 9.22501 14.0069 8.97583L13.9999 8.86064V7.87613H9.99988V8.86064C9.9996 9.11158 9.902 9.35293 9.72703 9.5354C9.55206 9.71786 9.31293 9.82767 9.05849 9.84237C8.80405 9.85708 8.5535 9.77558 8.35805 9.61452C8.1626 9.45346 8.03699 9.22501 8.00688 8.97583L7.99988 8.86064V7.87613ZM11.9999 3.93806C11.4953 3.93791 11.0093 4.12552 10.6393 4.4633C10.2694 4.80108 10.0427 5.26405 10.0049 5.75942L9.99988 5.90709H13.9999C13.9999 5.38488 13.7892 4.88404 13.4141 4.51478C13.039 4.14551 12.5303 3.93806 11.9999 3.93806Z" fill="black"/>
  </svg>
  <div class='-mt-3 text-sm font-medium text-black'>
    {{- cart.item_count -}}
  </div>
  <div class='sr-only'>items in cart, view bag</div>
</a>
