<svg
  id="facebook"
  class="{{ class }}"
  role="img"
  aria-describedby="facebookIcon"
  width="22"
  height="22"
  viewBox="0 0 22 22"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title id="facebookIcon">Facebook</title>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M21.5 11.0635C21.5 5.26504 16.7984 0.563477 11 0.563477C5.20156 0.563477 0.5 5.26504 0.5 11.0635C0.5 16.3041 4.33906 20.648 9.35938 21.4364V14.0996H6.69266V11.0635H9.35938V8.74973C9.35938 6.11863 10.9273 4.6641 13.3255 4.6641C14.4744 4.6641 15.6763 4.86941 15.6763 4.86941V7.45363H14.3516C13.048 7.45363 12.6402 8.26269 12.6402 9.09426V11.0639H15.552L15.087 14.1H12.6402V21.4374C17.6609 20.6494 21.5 16.3055 21.5 11.0635Z" fill="#212121"/>
</svg>
