<a
    href="{{- link -}}"
    class="flex flex-col flex-1 transition duration-300 hover:brightness-[0.95] relative overflow-hidden"
>
    {%- if square -%}
        {%- assign image_fit_class = 'object-contain' -%}
    {%- else -%}
        {%- assign image_fit_class = 'object-cover' -%}
    {%- endif -%}
    {%- assign img_class = 'transition duration-300 w-full h-full overflow-hidden ' | append: image_fit_class -%}
    <div class="{% if square %}aspect-square w-full{% else %}h-full{% endif %}">
        {{- image | image_url: width: 1200 | image_tag: class: img_class, loading: 'lazy' -}}
    </div>

    <div class="flex flex-col p-5 bg-[#F2F1F6] {% if link_description != blank %}min-h-[100px]{% endif %} absolute bottom-0 left-0 right-0 z-[2]">
        <span class="font-anton uppercase text-2xl text-black">
            {{- title -}}
        </span>

        {%- if link_description != blank -%}
            <span class="text-black font-bebasNeue mt-3 block">
                {{- link_description -}}
            </span>
        {%- endif -%}
    </div>
</a>