<div class="payment-icons flex space-x-2 items-center">
    {%- for type in shop.enabled_payment_types -%}
        <span>
          {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
        </span>
      {%- endfor -%}
</div>

<style>

</style>