<div :class="isPreorder ? 'flex' : 'hidden'"
class="mb-2 flex justify-center md:justify-end w-full">
    <span class="text-sm font-bebasNeue opacity-50" x-text="preorderMessage">{{ message }}</span>
</div>
