.swiper-slider-expanding {
    position: relative;
    overflow: hidden;
}

swiper-slider {
    display: block;
    width: 100%;
}

swiper-slider {
    .dot-pagination.swiper-pagination {
        position: relative;
        bottom: -20px !important;
    }

    .dot-pagination.swiper-pagination .swiper-pagination-bullet {
        border: 1px solid #000;
        background: transparent;
        border-radius: 100%;
        width: 10px;
        height: 10px;
    }

    .dot-pagination.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: #000;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: #f2f2f2;
        width: 20px;
        height: 20px;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        content: none;
        font-size: 0px;
        opacity: 0;
    }
}
