mobile-menu {
  .mobile-nav {
    &__item {
      /* Heading/Mobile Three */

      font-family: 'BebasNeuePro-ExpandedRegular';
      font-style: normal;
      font-size: 37.01px;
      line-height: 80%;
      margin-left: 14px;
      /* identical to box height, or 34px */

      display: flex;
      align-items: center;
      letter-spacing: -1px;
      text-transform: uppercase;

      /* Primary/Black */

      color: #212121;

    }

    &__child-item {
      /* Link/Button */

      font-family: 'BebasNeuePro-ExpandedRegular';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      /* identical to box height, or 18px */

      display: flex;
      align-items: center;
      letter-spacing: 1px;
      text-transform: capitalize;
      justify-content: space-between;
      margin-bottom: 40px;

      /* Primary/Black */

      color: #212121;

      &:last-child{
        margin-bottom: 0;
      }

      &.opened {
        margin-bottom: 18px;

        &::after {
          content:'–';

        }
      }

      &::after {
        content:'+';

      }
    }

    &__grandchild-item {
      /* Body/Paragraph */

      font-family: 'BebasNeuePro-ExpandedRegular';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      /* identical to box height, or 26px */

      display: flex;
      align-items: center;
      font-feature-settings: 'ss08'on, 'ss10'on;

      /* Primary/Black */

      color: #212121;

      &:last-child{
        margin-bottom: 0;
      }
    }

    &__grandchild-menu {
      //border-bottom: 1px solid #dbdbdb;

      &--last {
        border-bottom: none;
      }
    }

    .submenu {
      &__back {

        position: absolute;
        left: 1.5rem;

      }
    }

    &__blog-container {
      margin-bottom: 0px;
      padding: 24px;
      display: flex;
      overflow-x: auto;
      grid-gap:16px;
      height: auto;
      flex-shrink: 0;
    }

    &__blog-row {
      // padding: 3rem;
      margin-bottom: 0px;
      grid-gap: 16px;
      align-items: flex-start;
    }

    .article-content {
      //flex-direction: row;
      width: 260px;
    }

    .article-card__info {
      padding: 7px 0px 7px 12px !important;
    }

    .article-card__title {
      /* Heading/Mobile Four */

      font-family: 'Compacta Std';
      font-style: normal;
      font-size: 24.33px;
      line-height: 80%;
      /* or 19px */

      display: flex;
      align-items: center;
      letter-spacing: -0.5px;
      text-transform: uppercase;

      /* Primary/Black */

      color: #212121;
    }

    .article-card__image-wrapper {
      display: block;
      width: 100%;
      max-width: 260px;
      max-height: 260px;
      object-fit: cover;
    }

    .menu-article-card__tags {
      display: none !important;
    }

    .article-card__footer {
      display: none;
    }
  }

  .mnav-footer {


    &::before {
      content: '';
      position: absolute;
      top: -2.5rem;
      left: 0;
      width: 100%;
      height: 2.5rem;
      background: inherit;
      z-index: 1;
      /* Clip path to create a triangle */
      clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    }

    &__social-heading {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 13.9px;
      line-height: 130%;
      /* identical to box height, or 18px */

      display: flex;
      align-items: center;
      letter-spacing: 1px;
      text-transform: uppercase;

      /* Primary/Black */

      color: #212121;
    }
  }
}
