{{ 'bundle.section-announcement-bar.css' | asset_url | stylesheet_tag }}
  <div class="text-center relative text-xs md:text-sm w-full h-[29px]" style="background-color: {{section.settings.bg_color}};">
    <div class="announcement-bar block w-full swiper" >
      <div class="announcement-bar__wrapper swiper-wrapper ">
    
        {%- for block in section.blocks -%}
        {% assign remainder = forloop.length | modulo: 2 %}
          <div class="announcement-bar__slide swiper-slide w-full cursor-pointer py-0.5 md:pt-0.75 md:pb-1.5" data-original-position="{% if remainder == 0 %}{% cycle 'pl0', 'pr' %}{% else %}{% cycle 'pl', 'pr0' %}{% endif %}" style="color: {{ block.settings.text_color }}">
          {%- if block.settings.text != blank -%}
            {%- if section.settings.show_icon -%}
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="14" viewBox="0 0 25 14" fill="none"><g clip-path="url(#clip0_147_858)"><path fill-rule="evenodd" clip-rule="evenodd" d="M20.9658 9.4861C19.7046 9.4861 18.6885 10.5 18.6885 11.7428C18.6885 12.9929 19.7114 14 20.9658 14C22.2271 14 23.2427 12.9861 23.2427 11.7428C23.2427 10.4932 22.2197 9.4861 20.9658 9.4861ZM2.26858 8.21813V6.39989H3.03322C3.34084 6.39989 3.55227 6.46958 3.66701 6.60944C3.78176 6.74883 3.83938 6.98209 3.83938 7.30925C3.83938 7.63592 3.78176 7.86919 3.66701 8.00857C3.55227 8.14844 3.34084 8.21813 3.03322 8.21813H2.26858ZM3.04153 6.86546H2.81496V7.75256H3.04153C3.11623 7.75256 3.17043 7.74336 3.20412 7.72497C3.23781 7.70658 3.2549 7.66448 3.2549 7.59866V7.01936C3.2549 6.95354 3.23781 6.91144 3.20412 6.89304C3.17043 6.87465 3.11623 6.86546 3.04153 6.86546ZM5.16408 7.53139H4.6177V7.75256H5.28664V8.21813H4.07131V6.39989H5.27297L5.20461 6.86546H4.6177V7.10986H5.16408V7.53139ZM6.65237 8.21813H5.56008V6.39989H6.10598V7.75256H6.65237V8.21813ZM6.84377 8.21813V6.39989H7.38967V8.21813H6.84377ZM8.63528 6.39989H9.21145L8.78811 8.21813H7.99074L7.5674 6.39989H8.14358L8.376 7.55462H8.40041L8.63528 6.39989ZM10.482 7.53139H9.93557V7.75256H10.6045V8.21813H9.38918V6.39989H10.5908L10.5225 6.86546H9.93557V7.10986H10.482V7.53139ZM12.3662 8.21813H11.7652L11.5415 7.67706H11.4239V8.21813H10.878V6.39989H11.7383C12.1294 6.39989 12.3252 6.61235 12.3252 7.03727C12.3252 7.32812 12.2407 7.51977 12.0713 7.61318L12.3662 8.21813ZM11.4239 6.86546V7.22891H11.5498C11.6153 7.22891 11.6631 7.22165 11.6929 7.20713C11.7232 7.19262 11.7383 7.15922 11.7383 7.10696V6.98742C11.7383 6.93515 11.7232 6.90176 11.6929 6.88724C11.6631 6.87272 11.6153 6.86546 11.5498 6.86546H11.4239ZM13.0654 6.39989L13.2158 7.04017H13.2349L13.3877 6.39989H13.9917L13.4995 7.72352V8.21813H12.9536V7.72352L12.4619 6.39989H13.0654ZM4.9717 4.29369H4.15823V5.39374H3.20119V2.42948H5.16311L5.04348 3.18833H4.15823V3.58663H4.9717V4.29369ZM8.05813 5.39374H7.00539L6.61281 4.51148H6.40725V5.39374H5.45022V2.42948H6.95754C7.64309 2.42948 7.98635 2.776 7.98635 3.46806C7.98635 3.94234 7.83791 4.25546 7.54104 4.40743L8.05813 5.39374ZM6.40725 3.18833V3.78118H6.62697C6.74221 3.78118 6.82571 3.76957 6.87844 3.74585C6.93117 3.72214 6.95754 3.66745 6.95754 3.58227V3.38772C6.95754 3.30206 6.93117 3.24737 6.87844 3.22414C6.82571 3.20043 6.74221 3.18833 6.62697 3.18833H6.40725ZM10.3071 4.27434H9.35012V4.63489H10.5225V5.39374H8.39309V2.42948H10.4986L10.3789 3.18833H9.35012V3.58663H10.3071V4.27434ZM12.8433 4.27434H11.8863V4.63489H13.0586V5.39374H10.9292V2.42948H13.0347L12.9151 3.18833H11.8863V3.58663H12.8433V4.27434ZM19.5083 3.52759L16.0894 3.50726V1.44075C16.0894 1.00664 16.0601 0.693515 15.7251 0.361034C15.501 0.138897 15.1924 0 14.8491 0H1.23293C0.88967 0 0.581564 0.138897 0.357443 0.361034C-0.00925583 0.724488 2.15197e-05 1.02503 2.15197e-05 1.45914V11.0764C2.15197e-05 11.4098 0.140158 11.7293 0.364279 11.9582C0.5884 12.1876 0.896994 12.3332 1.24026 12.3332H5.8428C6.03225 12.3332 6.17922 12.1803 6.17922 11.9998C6.17922 11.8125 6.02492 11.6668 5.8428 11.6668L1.24026 11.6736C1.08596 11.6736 0.953147 11.6039 0.847678 11.4999C0.742697 11.389 0.672873 11.2361 0.672873 11.0764V1.14118C0.691916 1.02164 0.749045 0.911781 0.834006 0.833379C0.938986 0.729328 1.07912 0.666897 1.23293 0.666897H14.8491C15.0034 0.666897 15.1436 0.729328 15.2486 0.833379C15.4463 1.02987 15.4165 1.22732 15.4165 1.47608V11.6668H12.7652C12.5762 11.6668 12.4287 11.8125 12.4287 11.9998C12.4287 12.1803 12.5762 12.3332 12.7652 12.3332H15.753C15.9419 12.3332 16.0894 12.1876 16.0894 11.9998V11.6179H18.1211C18.2754 8.14602 23.2988 7.6669 23.8101 11.6179H24.9175C25.0635 10.8485 25.0088 9.94683 24.8067 8.95714C24.5703 7.80047 24.6397 8.02503 23.5503 7.61124L21.3281 6.62493L19.5083 3.52759ZM18.6323 4.47905L16.937 4.45824V6.62493H19.7818L18.6323 4.47905ZM9.26223 9.4861C8.001 9.4861 6.98489 10.5 6.98489 11.7428C6.98489 12.9929 8.00783 14 9.26223 14C10.5235 14 11.5391 12.9861 11.5391 11.7428C11.5391 10.4932 10.5161 9.4861 9.26223 9.4861ZM9.26223 10.8751C8.77883 10.8751 8.38625 11.2637 8.38625 11.7428C8.38625 12.2224 8.77883 12.611 9.26223 12.611C9.74563 12.611 10.1377 12.2224 10.1377 11.7428C10.1377 11.2637 9.74563 10.8751 9.26223 10.8751ZM20.9658 10.8751C20.4824 10.8751 20.0899 11.2637 20.0899 11.7428C20.0899 12.2224 20.4824 12.611 20.9658 12.611C21.4492 12.611 21.8413 12.2224 21.8413 11.7428C21.8413 11.2637 21.4492 10.8751 20.9658 10.8751Z" fill="currentColor"/></g><defs><clipPath id="clip0_147_858"><rect width="25" height="14" fill="white"/></clipPath></defs></svg>
            {%- endif -%}
            {{ block.settings.text }}
          {%- endif -%}
          </div>
        {%- endfor -%}
      </div>
    </div>
    {% comment %}Country selector moved to header top nav{% endcomment %}
  </div>
  <style>
    
  </style>

{% schema %}
{
  "name":"t:sections.announcement-bar.name",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "autoplay",
      "label": "Autoplay (seconds)",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 10
    },
    {
      "type": "checkbox",
      "id": "show_icon",
      "label": "Show icon",
      "default": false
    }
  ],
  "blocks": [
    {
      "name": "content",
      "type": "announcement",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color",
          "default": "#000000"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement",
      "category": "Text",
      "blocks": [
        {
          "type": "announcement"
        },
        {
          "type": "announcement"
        },
        {
          "type": "announcement"
        }
      ]
    }
  ]
}
{% endschema %}

