{% if section.settings.bottomtext != blank %}
    <div class="pb-[64px] lg:pb-[64px] lg:mt-[20px] px-6" style="background: {{section.settings.bg}}; padding-top: 24px;"
        <div class="max-w-[1000px] m-auto">
            <h2 class="bottom-text-heading">About {{ collection.title }}</h2>
            <div class="bottom-text text-center text-base font-sans mt-3">
                {% if collection.metafields.custom.collection_bottom_text != blank %}
                    {{collection.metafields.custom.collection_bottom_text}}
                {% else %}
                    {{section.settings.bottomtext }}
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    
    <style>
        .bottom-text-heading {
            font-family: Anton, sans-serif;
            font-size: 40px;
            color: #000000;
            text-align: center;
            margin: 0 0 25px;
            text-transform: uppercase;
        }
        .bottom-text {
            max-width: 1024px;
            margin-left: auto;
            margin-right: auto;
        }
        .bottom-text p {
            font-size: 18.4px;
        }
        .bottom-text p a {
            font-weight: Bold;
        }
    </style>
    {% schema %}
        {
            "name": "Collection Bottom Text",
             "tag": "section",
            "settings": [
                {
                    "type": "richtext",
                    "id": "bottomtext",
                    "label": "Bottom Text",
                    "default": "<p>Collection Bottom Text Goes Here</p>"
                },
                {
                    "type": "color",
                    "id": "bg",
                    "label": "Background color",
                    "default": "#FEDD00"
                }
            ],
            "presets": [
                {
                    "name": "Collection Bottom Text"
                }
            ]
        }
    {% endschema %}
