.announcement-bar .announcement-bar__slide p {
  font-family: "SF Pro Text", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}

.header-s2__icons div,
.header-s2__icons a,
.header-s2__icons span {
  color: white;
}

.header-s2__icons .header_icon::after,
.header-s2__icons .header_icon:hover::after {
  display: none !important;
}

.mega-nav .mega-nav__item {
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: capitalize;
}

.announcement-bar__slide.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100% !important;
  padding: 5px 25px !important;
}

.announcement-bar .announcement-bar__wrapper.swiper-wrapper {
  width: 100% !important;
}

.announcement-bar__slide.swiper-slide svg {
  margin-right: 5px;
}

.main-header__recharge-styles-cart-icon a#cart-icon-bubble .cart-count {
  position: absolute;
  top: -11px;
  right: 4px;
}

.main-header__recharge-styles-cart-icon {
  position: relative;
}

@media (max-width: 1109px) {
  body mobile-menu .mobile-nav__item {
    font-family: "Familjen Grotesk", sans-serif !important;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }
}

@media (max-width: 991px) {
  .main-header__recharge-styles {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
  .announcement-bar__slide.swiper-slide svg {
    display: none;
  }
  .announcement-bar .announcement-bar__slide p {
    font-size: 13px;
    line-height: 11px;
  }

  .announcement-bar
    .announcement-bar__wrapper.swiper-wrapper
    .announcement-bar__slide.swiper-slide {
    padding: 9px 25px !important;
  }
}
